{% extends 'users/base.html' %}

{% block title %}
    Password Reset          
{% endblock title %}



{% block content %}

    <div class='container my-5'>
        <div class='row'>

            <form method='post'>
                {% csrf_token %}
                
                {{form.as_p}}

                <button type='submit' class='btn btn-primary'>Reset Password</button>

            </form>
        </div>
    </div>



{% endblock content %}



{% block scripts %}
    
{% endblock scripts %}