{% extends 'users/base.html' %}


{% block title %}
    Change Password          
{% endblock title %}



{% block content %}

<div class="container m-12">

    <h1 class="text-2xl font-semibold" > 📝 Change Password </h1>

    <div class="error-container text-red-500 px-10 pt-9 ">
        {% if form.errors %}
            {% for field in form %}

                <p>{{field.errors}}</p>

            {% endfor %}
        {% endif %}

    </div>


    <form method="post" enctype="multipart/form-data" class="space-y-4">
        {% csrf_token %}

        <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold mb-2">Old Password</label>
            <div class="shadow text-gray-700 appearance-none border rounded py-2 px-3">{{form.old_password}}</div>
        </div>

        <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold mb-2">New Password</label>
            <div class="shadow text-gray-700 appearance-none border rounded py-2 px-3">{{form.new_password1}}</div>
        </div>

        <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold mb-2">Confirm New Password</label>
            <div class="shadow text-gray-700 appearance-none border rounded py-2 px-3">{{form.new_password2}}</div>
        </div>

          
        <button type='submit' class='text-white bg-green-500 px-4 py-2 my-3 font-bold'>Updated Password</button>
    
    </form>

</div>

 



{% endblock content %}



{% block scripts %}
    
{% endblock scripts %}