{% extends 'users/base.html' %}


{% block title %}
    Registration          
{% endblock title %}



{% block content %}

    <div class="container m-12">
        <h1 class="text-2xl font-semibold" > 🤵 Register Form</h1>

        <div class="container pt-10">

            <form method='post' class="bg-white shadow-md w-2/5 rounded px-10 pt-6 pb-4 mb-4">
                {% csrf_token %}
                
                <div class="mb-2">
                    <label class="block text-gray-700 text-sm font-bold mb-2">Username</label>
                    <div class="shadow text-gray-700 appearance-none border rounded py-2 px-3">{{form.username}}</div>
                </div>

                <div class="mb-2">
                    <label class="block text-gray-700 text-sm font-bold mb-2">Name</label>
                    <div class="shadow text-gray-700 appearance-none border rounded py-2 px-3">{{form.first_name}}</div>
                </div>

                <div class="mb-2">
                    <label class="block text-gray-700 text-sm font-bold mb-2">Email</label>
                    <div class="shadow text-gray-700 appearance-none border rounded py-2 px-3">{{form.email}}</div>
                </div>

                <div class="mb-2">
                    <label class="block text-gray-700 text-sm font-bold mb-2">Password</label>
                    <div class="shadow text-gray-700 appearance-none border rounded py-2 px-3">{{form.password}}</div>
                </div>

                <div class="mb-2">
                    <label class="block text-gray-700 text-sm font-bold mb-2">Password</label>
                    <div class="shadow text-gray-700 appearance-none border rounded py-2 px-3">{{form.password2}}</div>
                </div>

                <button type='submit' class='text-white bg-green-500 px-4 py-2 my-3 '>Register</button>

                <div class="my-3">
                    <a href="{% url 'login' %}" >Alread have an account ? <span class='text-blue-600'>Login</span></a>
                </div>

            </form>

        </div>

    </div>



{% endblock content %}



{% block scripts %}
    
{% endblock scripts %}